@import './card.css';

.product-section {
    padding:0 var(--padding-container);
    max-width: 1400px;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.product-section-nav {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.product-section-nav-title {
    display: flex;
    align-items: baseline;
    width: 100%;
    justify-content: space-between;

    img {
        width: 16px;
    }
}

.product-section-nav-item {
    padding: 1rem;
    background-color: var(--bg-secondary);
}

.product-section-nav-item:hover {
    background-color: var(--bg-hover-dark);
    transition: all 0.1s ease-in-out;
}

.product-section-nav h3 {
    margin-bottom: 1rem;
}

.product-section-nav p {
    color: var(--text-secondary);
}

.product-section-gallery {
    margin: var(--space-5) 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* Tablet and up */
@media (min-width: 768px) {
    .product-section-nav {
        flex-direction: row;
        justify-content: space-between;    
        padding: 0 1rem;
    }

    .product-section-gallery {
        flex-direction: row;
    }
}